
@{
    ViewBag.Title = "Tables";
}

<h2>Tables</h2>



<div class="mdl-grid mdl-layout__content mdl-color--grey-100" ng-controller="productsController as productsCtrl">
    <a style="cursor:pointer" ng-click="productsCtrl.loadProducts()">Get new page</a>

    <a style="cursor:pointer" ng-click="productsCtrl.changeProduct()">Change a product</a>
    <div class="mdl-grid mdl-cell--12-col">
        <table class="mdl-data-table mdl-shadow--2dp mdl-cell--12-col" style="margin: 0 auto;">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Material</th>
                    <th>Quantity</th>
                    <th>Unit price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in productsCtrl.products">
                    <td class="mdl-data-table__cell--non-numeric">{{product.Name}}</td>
                    <td>{{product.Quantity}}</td>
                    <td>${{product.Price}}</td>
                    <td>
                        <!-- Accent-colored raised button with ripple -->
                        <button ng-click="productsCtrl.removeProduct(product)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

